<div class="row restaurant border" *ngFor="let restaurant of data;">
  <div class="col-sm-12">
    <a routerLink="/restaurace/{{restaurant.id}}"><h3 class="title">{{ restaurant.name }}</h3></a>
    <p class="text-muted"><span class="glyphicon glyphicon-lock"></span>
      {{restaurant.address}}<a target="_blank" class="address"
                               href="https://www.google.com/maps/search/?api=1&query={{restaurant.gpsLat}}%2C{{restaurant.gpsLng}}">
        <mdb-icon fas icon="address-card" class="ml-2"></mdb-icon>
      </a></p>
  </div>
</div>
