<ul ngbNav #nav1="ngbNav" class="nav-tabs" [activeId]="0">
  <li *ngFor="let course of dataGroup | keyvalue; let i = index;" [ngbNavItem]="i">
    <a ngbNavLink>{{course.key}}</a>
    <ng-template ngbNavContent>
      <ul ngbNav #nav2="ngbNav" class="nav-tabs" [activeId]="0">
        <li *ngFor="let item of course.value;let k = index;" [ngbNavItem]="k">
          <a ngbNavLink>{{item.name}}</a>
          <ng-template ngbNavContent>
            <app-meals-listing [restaurantCourse]="item"></app-meals-listing>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav2"></div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav1"></div>
