<header>
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">
    <logo class="ml-3">
      <a class="navbar-brand" routerLink="/">
        <strong class="blue-text">Restaurace</strong>
      </a>
    </logo>

    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" mdbWavesEffect>Domů
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
