<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Přihlašte se k odběru jídelníčků</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" type="email" required="required" ngModel="email" class="form-control"
                 placeholder="jan.novak@gmail.com">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odeslat</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-lg btn-outline-primary button" (click)="open(content)">Přihlásit se k odběru</button>
